<section class="education">
  <!-- <iframe src="https://drive.google.com/file/d/1-PWpUFw1HLDIFezl9UJqdktbX2PMOcJl/preview" width="100%" height="700px" allow="autoplay"></iframe> -->
  <h2>Education</h2>
  <ul>
      <li><strong>Maharishi International University (USA)</strong> MAY 2023 – JUN 2025
          <br>Master in Computer Science – GPA: 3.86/4.0
          <br>Key courses: Algorithms, Cloud Computing, Big Data Technology, Database Management Systems.
      </li>
      <li><strong>Chang Jung Christian University (Taiwan)</strong> SEP 2022 – MAR 2023
          <br>Ph.D. in Management - GPA: 95.67/100 - 1st/10 Semester class rank
          <br>Key courses: Academic Ethics, Theory and Practice in Administrative Management Seminar.
      </li>
      <li><strong>Hoa Sen University (Vietnam)</strong> JUN 2019 - FEB 2022
          <br>Master in Business Administration (MBA) - GPA 3.77/4.0 – Delivered the honorary speech at MBA graduation.
          <br>Best Master's Thesis Award (92/100)
          <br>Key courses: Business Research Methods, Organizational Behavior, Strategic Management, Project Management, Technology Management, Marketing Management, Cross-cultural Management, Leadership.
      </li>
      <li><strong>Ho Chi Minh City University of Pedagogy (Vietnam)</strong> SEP 2013 - MAY 2017
          <br>Bachelor in Computer Science - GPA 3.21/4.0 - Graduated in the top 10% of the department, 2017.
      </li>
  </ul>
</section>
