.loading-indicator {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.float-right {
  float: right;
  margin-left: 10px; /* Optional: Add some margin for better spacing */
}

ul li{
  font-size: 1.2em;
  ul li{
    font-size: 1em;
  }
}

section.cv {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cv h1,
h2 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.cv h3 {
  color: #34495e;
  margin-top: 20px;
}

.cv p {
  margin: 10px 0;
}

.cv ul,
.cv ol {
  padding-left: 20px;
  margin: 10px 0;
}

.cv ul li,
.cv ol li {
  margin-bottom: 10px;
}

.cv a {
  color: #3498db;
  text-decoration: none;
}

.cv a:hover {
  text-decoration: underline;
}

.cv table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.cv table th,
.cv table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.cv table th {
  background-color: #3498db;
  color: #fff;
}

.cv table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cv .references ul {
  list-style-type: none;
  padding: 0;
}

.cv .references ul li {
  margin: 5px 0;
  line-height: 1.4;
}
