<section class="about">
  <h2>Biography</h2>
  <p>I’m Huan Hong Nguyen (Noah), a dedicated researcher and project leader with a strong background in
    Management (MBA) and Information Technology (Computer Science). My research journey is enriched by practical
    experience across diverse fields, and I hold a Project Management Professional (PMP®) certification,
    underscoring my skills in strategic project management and leadership.</p>

  <p>Currently pursuing my Master’s in Computer Science, my research explores topics at the intersection of
    technology and human development, with a particular focus on information systems and cybersecurity, privacy
    and human-computer interaction, the future of work and human factors, as well as social networks and digital
    entrepreneurship.</p>


  <p>I employ a diverse range of research methodologies, including cross-sectional studies, behavioral surveys,
    longitudinal studies, econometrics, and advanced techniques in Artificial Intelligence (AI) and Machine
    Learning (ML). My toolkit encompasses tools such as SPSS, AMOS, SmartPLS, and VOSviewer, along with data
    analysis platforms like Python and R to support rigorous data-driven insights.</p>

  <p>With a solid portfolio of publications and ongoing research projects, I am dedicated to advancing academic
    and industry knowledge in technology management and policy. I have led impactful projects on privacy law,
    digital entrepreneurship, and the effects of flexible work models on employee outcomes. My work has been
    published in journals including <em>Computers in Human Behavior</em>, <em>Technological Forecasting and
      Social Change</em>, and <em>SAGE Open</em>; conferences proceedings such as <em>ICB2021</em>,
    <em>ICBI2022</em>,
    <em>Transportation Research Procedia</em>, and <em>ICIS 2024</em>.
  </p>

  <p>I have actively contributed to the academic community through my role as an ad-hoc journal reviewer for
    <em>The International Journal of Management Education</em>, where I provide rigorous peer reviews to support
    the quality and relevance of research in management education. Additionally, I serve as an ad-hoc conference
    reviewer for the <em>Australasian Conference on Information Systems 2024 (ACIS 2024)</em>, ensuring that
    high standards are maintained for research presentations in the field of information systems.
  </p>

  <p>Thank you for visiting, and I look forward to connecting and sharing insights in the fields of technology,
    research, and human development.</p>


  <h2>Peer-Reviewed Journal Publications</h2>
  <p>(*) Corresponding author</p>
  <ul>
    <li>Nguyen, N. D., Truong, N.-A., Quang Dao, P., & Nguyen, H. H. (2025). Can online behaviors be linked to mental
      health? Active versus passive social network usage on depression via envy and self-esteem. Computers in Human
      Behavior, 162, 108455. DOI [2024 SJR-Q1, CiteScore-19.1, WoS-SSCI, IF-9.0, ABS-2, A-ABDC]</li>
    <li>Nguyen, P. N. D., Nguyen, H. H. (*), Giang, T. T., Duong, H. C., & Nguyen, L. D. Y. (2024). Linking New Ways of
      Working to Employee Performance in Emerging Countries: The Interplay of Technostress, and Meaningful Work. SAGE
      Open, 14(4), 21582440241289988. DOI [2024 SJR-Q1, CiteScore-3.4, WoS-SSCI, IF-2]</li>
    <li>Nguyen, P. N. D., & Nguyen, H. H. (*) (2024). Unveiling the link between digital entrepreneurship education and
      intention among university students in an emerging economy. Technological Forecasting and Social Change, 203,
      123330. DOI [2024 SJR-Q1, CiteScore-21.3, WoS-SSCI, Impact Factor-12.9, ABS-3, A-ABDC]</li>
    <li>Nguyen, P. N. D., & Nguyen, H. H. (*) (2024). Examining the Role of Family in Shaping Digital Entrepreneurial
      Intentions in Emerging Markets. SAGE Open, 14(1). DOI [2024 SJR-Q1, CiteScore-3.4, WoS-SSCI, IF-2]</li>
    <li>Thao, P. K., Phuong, N. N. D., Phuc, V. T., & Huan, N. H. (2024). Organizational commitment and its impact on
      employee performance in the water supply industry: Dataset from Vietnamese state-owned enterprises. Data in Brief,
      52, 110029. DOI [2024 SJR-Q3, WoS-ESCI]</li>
    <li>Nguyen, P. N. D., Mai, H. T., & Nguyen, H. H. (2023). Employee motivation and job performance: The mediating
      role of organizational citizenship behavior. Ho Chi Minh City Open University Journal of Science - Economics and
      Business Administration, 18(1), 5-20. DOI</li>
    <li>Huan, N. H. (*), Nghi, D.L., Linh, N. D. Y., Quoc, T. N., Quan, D. H. M., & Phuong, N. N. D. (2022).
      Understanding customers' willingness to pay more and purchase intention in blockchain food traceability: Evidence
      from Vietnam. Journal of Information Systems & Operations Management, 16(2), 70-84. Link</li>
    <li>Ong, Y. L., Hsiao, B., & Huan, N. H. (*) (2022). Industry 4.0 and digital green innovation with the mediating
      role of digital green knowledge creation: Evidence from Vietnam. Journal of Information Systems & Operations
      Management, 16(2), 196-211. Link</li>
  </ul>

  <h2>Peer-Reviewed Book Chapters</h2>
  <ul>
    <li>Phuong, N. N. D. & Huan, N. H. (*) (ACCEPTED). Future of Digital Entrepreneurship: The Expanded Role of
      Government in the Entrepreneurial Event Model. Information Systems Research in Vietnam Book (Third Volume).
      Springer Nature.</li>
    <li>Phuong, N. N. D., Hiep, D. C, Trang, G. T. & Huan, N. H. (*) (ACCEPTED). Digital Work Era: Well-being,
      Technostress and Turnover intention in an emerging country. Futures of Asia book series. Routledge (Taylor &
      Francis group)</li>
    <li>Yen, L. N. D., & Hong, H. N. (*) (2023). Enhancing Citizen Willingness to Use E-Government: The Case of Ho Chi
      Minh. In Business Innovation for the Post-pandemic Era in Vietnam (pp. 47-59). Singapore: Springer Nature
      Singapore. DOI [SCOPUS]</li>
  </ul>

  <h2>Under Review Journal Manuscripts</h2>
  <ul>
    <li>Nguyen, D. Y. L., Giang, T. T., Duong, C. H., Nguyen, P. N. D. & Nguyen, H. H. (Passed desk - Under review).
      Beyond the Crisis: AI-Powered Contactless Hospitality as a Strategy for Post-COVID Retention. International
      Journal of Hospitality Management [2024 SJR-Q1, CiteScore-21.2, WoS-SSCI, IF-9.9]</li>
    <li>Phuong, N. N. D., Trang, G. T., Hiep, D. C & Nguyen, H. H. (Passed desk - Under Review). Beyond traditional work
      models: The role of new ways of working, psychological well-being, and work engagement in enhancing OCB. Current
      Psychology</li>
    <li>Nguyen, H. H., Trang, G. T., Hiep, D. C., Phuong, N. N. D. (Submitted). From Being Served to Serving: How
      Servant Leadership Fosters Organizational Citizenship Behavior. Current Psychology</li>
  </ul>

  <h2>Forthcoming Journal Submissions</h2>
  <ul>
    <li>Tuan Chu, Thi Tran, Duy-Dang Pham, An Vu, Bao Do, Huan Nguyen (Finalizing manuscript). E-governance
      applicability and concerns: A case study of Yen Bai province in Vietnam. Targeting top 6 Information Systems
      journals.</li>
    <li>Phuong, N. N. D., Huan, N. H., Thang, N. Q. (Ready to submit). Beyond Profit: The Role of Corporate Social
      Responsibility in Enhancing Performance of Vietnamese Small and Medium Enterprises (SMEs).</li>
  </ul>

  <h2>Conference Participation & Peer-Reviewed Conference Proceedings Publications</h2>
  <ul>
    <li>Do, Bao; Nguyen, Huan Hong; Tran, Thi; and Sarkar, Sumantra, "Leveraging Machine Learning to Combat AI-Driven
      Sophisticated Social Engineering Threats Online" (2024). ICIS 2024 TREOS. 107. Link</li>
    <li>Phuong, N. N. D., Huan, N. H. (*), & Anh, N. D. T. (2024). Beyond the price: Unlocking the power of service
      employee self-efficacy in building low-cost airline loyalty in emerging countries. Transportation Research
      Procedia, 80, 95–102. DOI [SCOPUS]</li>
    <li>Linh, Nguyen Duy Yen, Huan, Nguyen Hong (*) (2022). Enhancing Citizen Willingness to Use E-Government: The Case
      of Ho Chi Minh. 2022 RMIT International Conference on Business Innovation (ICBI2022).</li>
    <li>Nguyen, Hong Huan (*) (Oral Presenter), Le Dinh Nghi, Nguyen Duy Yen Linh, Tran Nam Quoc, Dang Hoang Minh Quan,
      Nguyen Ngoc Duy Phuong (2022). Understanding Customers’ Willingness to Pay More and Purchase Intention in
      Blockchain Food Traceability: Evidence from Vietnam. The 9th International Conference Applied Informatics in
      Economy and Information Technology. ISSN 2537 – 3943.</li>
    <li>Yao Lin Ong, Bo Hsiao, Nguyen, Hong Huan (*) (Oral Presenter) (2022). Industry 4.0 And Digital Green Innovation
      with The Mediating Role of Digital Green Knowledge Creation: Evidence from Vietnam. The 9th International
      Conference Applied Informatics in Economy and Information Technology. ISSN 2537 – 3943.</li>
    <li>Linh, Nguyen Duy Yen, Huan, Nguyen Hong (2021). Utilizing Ota During Covid-19 In Ho Chi Minh: Integrating
      Personal Innovativeness to The UTAUT Framework. The 4th International Conference on Business. ISBN:
      978-604-79-3072-2. Link</li>
  </ul>

  <h2>Professional Services</h2>
  <ul>
    <li>Ad-hoc journal reviewer: The International Journal of Management Education</li>
    <li>Ad-hoc conference reviewer: Australasian Conference on Information Systems 2024 (ACIS2024)</li>
  </ul>

  <h2>Research Projects</h2>
  <ul>
    <li><strong>Student Leader - Privacy Law Analysis and Social Media Analysis projects</strong> AUG 2024 - PRESENT
      <ul>
        <li>Leading a team of 10+ students under SUNY (The State University of New York) professors' guidance, analyzing
          privacy law and social media hate speech data.</li>
        <li>Coordinated all project phases, managing data collection, task delegation, and reporting.</li>
        <li>Facilitated communication between faculty and students, enhancing methodological precision.</li>
        <li>Applied web scraping, AI, and ML for sentiment analysis and feature extraction, yielding insights.</li>
      </ul>
    </li>
    <li><strong>Project Founder and Leader - Digital Entrepreneurship</strong> JAN 2023 – DEC 2023
      <ul>
        <li>Pioneered a project on digital entrepreneurship intentions among students in emerging markets, focusing on
          institutional support and digital skills.</li>
        <li>Developed the project, leading literature review, model design, and data analysis.</li>
        <li>Identified key variables influencing entrepreneurship intentions using advanced analytics.</li>
        <li>Oversaw publication processes, achieving articles in Technological Forecasting and Social Change and SAGE
          Open; a book chapter is forthcoming in 2025.</li>
      </ul>
    </li>
    <li><strong>Project Founder and Leader - New Ways of Working</strong> FEB 2023 – APR 2024
      <ul>
        <li>Led a cross-national team with collaborators in Vietnam and Taiwan, investigating flexible work models'
          effects on employee outcomes.</li>
        <li>Directed research design, survey implementation, and SEM analysis to uncover insights.</li>
        <li>Managed cross-country collaboration, ensuring quality output and effective teamwork.</li>
        <li>Publications include Sage Open, Current Psychology (under review), and a book chapter (accepted) with
          Routledge.</li>
      </ul>
    </li>
  </ul>

  <h2>Certification</h2>
  <ul>
    <li>Project Management Professional (PMP)® OCT 2023</li>
    <li>Google Data Analytics SEP 2022</li>
    <li>Google Project Management JUL 2022</li>
    <li>Google Digital Marketing JUN 2022</li>
    <li>Professional Scrum MasterTM I (PSM I) SEP 2021</li>
  </ul>
</section>
