<section class="experience">
  <!-- <iframe src="https://drive.google.com/file/d/1-PWpUFw1HLDIFezl9UJqdktbX2PMOcJl/preview" width="100%" height="700px" allow="autoplay"></iframe> -->
  <h2>Work Experience</h2>
  <ul>
      <li><strong>Software Engineer, ENHESA, Pennsylvania, USA</strong> FEB 2024 - PRESENT</li>
      <li><strong>Project Manager/Co-Founder, LADS GROUP CO., LTD, HCM City, Vietnam</strong> MAR 2022 - MAR 2023</li>
      <li><strong>Product Manager, HELLOJOB JSC, Hanoi, Vietnam</strong> AUG 2021 - MAR 2022</li>
      <li><strong>Product Developer, VINHMS - VINGROUP, Ho Chi Minh City, Vietnam</strong> APR 2020 - APR 2021</li>
      <li><strong>Software Consultant, BPS TEAM, Texas, USA (Remote from Vietnam)</strong> MAY 2017 – JUL 2019</li>
      <li><strong>Software Engineer, GLOBAL CYBERSOFT, Ho Chi Minh City, Vietnam</strong> AUG 2016 - MAY 2017</li>
  </ul>

  <h2>Teaching/Training</h2>
  <ul>
      <li><strong>Chang Jung Cristian University 2023</strong>
          <br>Facilitated a workshop series for PhD students on "Quantitative Research Methods, Techniques, and Tools" for PhD students, covering SPSS, SmartPLS, AMOS, Mendeley and EndNote, Google Scholar, and Scopus.
      </li>
      <li><strong>HelloJob JSC 2022</strong>
          <br>Led an "Introduction to Product Management" workshop covering market research, product strategy, and prioritization with interactive activities and real-life case studies. Delivered an "AGILE/SCRUM Training Program" encompassing AGILE/SCRUM principles and Scrum framework with interactive sessions.
      </li>
      <li><strong>TMA Innovation 2021</strong>
          <br>Conducted an "Internal Workshop on Quality Assurance" focusing on testing methodologies, defect prevention, and hands-on training using tools like Selenium and JIRA.
      </li>
      <li><strong>Private Tutor (5 years) SEP 2012 - MAY 2017</strong>
          <br>Provided personalized tutoring for students in Mathematics, Physics, Chemistry, Information Technology, and Guitar. Helped students improve their understanding of complex concepts and excel in their studies.
          <br>Assisted students in preparing for university entry exams and requirements, ensuring they were well-equipped for higher education.
      </li>
  </ul>
</section>
