
<section class="skills">

  <h2>Skill Sets</h2>
  <ul>
      <li>Research Tools: SPSS, AMOS, SmartPLS, R, Python, SQL, Mendeley, Endnote, VOSviewer, NVivo, Qualitative Data Analysis software (QDA Miner), Advanced Search (Google Scholar, Scopus, WoS), MS Excel.</li>
      <li>Specialized Skills: Machine Learning, Artificial Intelligence, Natural Language Processing (Sentiment Analysis, Topic Modeling), Data Mining, and Web Scraping.</li>
      <li>Analytics: Python (Data Mining, Machine Learning, NLP for Sentiment and Topic Modeling), R programming (Data Cleaning, Statistical Analysis), SQL/MongoDB (Data Storage and Management).</li>
      <li>Data Visualization: Tableau, Power BI, Python (Matplotlib, Seaborn), R Studio (ggplot2).</li>
      <li>Database Management: SQL Server, MySQL, Data Modeling, Big Data Tools (Hadoop, HBase, Hive, Sqoop and Flume, Spark Apache).</li>
      <li>Programming: Python, R, SQL, C#, JAVA, JavaScript.</li>
      <li>Project Management: PMP®, Gantt Chart, SDLC, Waterfall/Agile-Scrum, Agile-Planning Poker, UML diagrams, Requirement analysis, Collaborative Tools (Jira, Confluence, Trello).</li>
  </ul>

  <!-- <p>My research intersects technology management and human development, focusing on how these areas can be advanced in business and academic contexts.</p> -->

  <h2>Research Interests</h2>
  <ul>
      <li>Information Systems</li>
      <li>Cybersecurity and Privacy</li>
      <li>Future of Work</li>
      <li>Human Factors</li>
      <li>Human-Computer Interaction</li>
      <li>Digital Entrepreneurship</li>
      <li>Social Networks</li>
  </ul>

  <h2>Research Methods</h2>
  <p>My research employs a range of quantitative and qualitative methodologies:</p>
  <ul>
      <li>Cross-sectional Studies</li>
      <li>Behavioral Surveys</li>
      <li>Exploratory and Experimental Studies</li>
      <li>Longitudinal Studies</li>
      <li>Econometrics and Structural Equation Modeling (SEM)</li>
      <li>Factor Analyses and Psychometric Analyses</li>
      <li>Measurement Development</li>
      <li>Social Media Data Mining (Twitter, Reddit, YouTube, Facebook)</li>
      <li>Applied Machine Learning - Deep Learning, Supervised and Unsupervised Learning</li>
      <li>Natural Language Processing - Sentiment Analysis and Topic Modeling</li>
      <li>Bibliometrics and Systematic Literature Reviews</li>
  </ul>

  <h2>Ongoing and Published Work</h2>
  <p>I am engaged in several research projects and have published in high-impact journals, addressing topics like:</p>
  <ul>
      <li>Privacy Law Analysis and Social Media Hate Speech</li>
      <li>Digital Entrepreneurship among University Students</li>
      <li>Social Networks and User Behavior</li>
      <li>The Impact of Modern Work Models on Employee Outcomes</li>
  </ul>
</section>
