h1,
h2,
h3 {
  color: #2c3e50;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.reference {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font: 1em sans-serif;

  ul li {
    font-size: 1em;
    padding-top: 10px;
  }
}

ul,
ol li {
  font-size: 1.2em;
  padding-top: 10px;
}

div {
  font-size: 1.2em;
}

section.blogs {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blogs h1,
h2 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.blogs h3 {
  color: #34495e;
  margin-top: 20px;
}

.blogs p {
  margin: 10px 0;
}

.blogs ul,
.blogs ol {
  padding-left: 20px;
  margin: 10px 0;
}

.blogs ul li,
.blogs ol li {
  margin-bottom: 10px;
}

.blogs a {
  color: #3498db;
  text-decoration: none;
}

.blogs a:hover {
  text-decoration: underline;
}

.blogs table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.blogs table th,
.blogs table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.blogs table th {
  background-color: #3498db;
  color: #fff;
}

.blogs table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.blogs .references ul {
  list-style-type: none;
  padding: 0;
}

.blogs .references ul li {
  margin: 5px 0;
  line-height: 1.4;
}

.title-section {
  text-align: center;
  margin: 0 0;
  padding: 10px;
  background-color: #f9f9f9;

  h1,
  h2 {
    border-bottom: none !important;
  }
}

.main-title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 10px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #34495e;
}
